<%= render 'lesson_modal' %>

<h2><%= link_to "Make a new lesson", new_lesson_path %></h2>
<!-- <h2>Edit existing lesson</h2>
<p>You can make changes to any lesson, as long as it is not currently active as an assignment or activity.</p> -->
<h2>In-progress lessons</h2>
<p>These are lessons you have started creating, but have not yet finished.</p>
<h2>Unused Lessons</h2>
<p>These are lessons you have submitted for use, but have not used in an individual assignment or group activity.</p>
<h2>Deactivate Lesson</h2>
<p>If you deactivate a lesson, it can no longer be used as an assignment or activity. However, it is available for reference by searching deactivated lessons.</p>
<h3>Your Lessons</h3>