<div class="container">
  <h5>Set notification preferences here</h5>

  <p>Teachers can define whether they would like to receive text and email notifications of upcoming assignment due-dates and new feedback, in addition to seeing it on their dashboards.</p>

  <% #TODO: mockup view %>
</div>