<div class="container">
<div id="linglang-carousel" class="carousel slide" data-ride="carousel" data-interval="7000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#linglang-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#linglang-carousel" data-slide-to="1"></li>
    <li data-target="#linglang-carousel" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/IMG_1998.jpg" alt="...">
      <div class="carousel-caption">
          <h3>LingLang is digital technology for Linguistics teachers- customize your lessons, your way!</h3>
      </div>
    </div>
    <div class="item">
      <img src="/images/students2.jpg" alt="...">
      <div class="carousel-caption">
          <h3>LingLang makes learning IPA fun and convenient. All the tools you need- at your fingertips! No more searching the internet for refernces.</h3>
      </div>
    </div>
    <div class="item">
      <img src="/images/2_teacher.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Paper is the Past. Easily transfer paper worksheets and class activities, and communications into the digital space.</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
</div>