<div class="container" class="center-block">
  <hr class="hr-primary" />
  <div class="row" align="center">
    <div class="col col-md-4">
      <div class="panel panel-default" >
        <div class="panel-heading">Courses</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Recent Lessons</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
    <hr class="hr-primary" />
    <div class="row" align="center">
      <div class="col col-md-8">

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Notifications</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>