<h3>Current Courses and Status</h3>
<h4>My Courses</h4>
<div id="current-courses" class="container">
</div>
<h4>Assignments</h4>
<div id="inprogress-assignments" class="container">
</div>
<div id="past-assignments" class="container">
</div>


<h3>My Workflow</h3>
<h4>Feedback</h4>
<div id="need-feedback" class="container">
</div>
<div id="recent-submit-feedback" class="container">
</div>

<h4>Lessons</h4>
<div id="inprogress-lessons" class="container">
</div>
<div id="recent-submit-lessons" class="container">
</div>
<h4>Exercises</h4>
<div id="inprogress-exercises" class="container">
</div>
<div id="recent-submit-exercises" class="container">
</div>
