
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".exercise-modal-lg">About Exercises</button>

  <div class="modal fade exercise-modal-lg" tabindex="-2" role="dialog" aria-labelledby="myExerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container">
          <p class="lead"><strong>What is an exercise?</strong></p>
          <p>An exercise is task the student must complete to demonstrate a certain skill.</p>
          <p>For phonetics, these tasks includez:</p>
          <ul>
            <li>Reading</li>
            <li>Listening</li>
            <li>Speaking</li>
          </ul>
          <p>These tasks are called <strong>exercises</strong>.</p>
          <p> Exercises <strong>MUST</strong> be attached to a lesson. To create a new exercise, add one to an existing lesson by editing a lesson, or create a new lesson to hold it.</p>
          <p>Exercises require a task action, response action, task content, and a correct response.</p>
        </div>
      </div>
  </div>
</div>
