<p class=marginnote style='page-break-before:always'><span lang=EN-US>&nbsp;</span></p>

<p class=marginnote style='page-break-before:always'><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=240 colspan=4 style='width:180.0pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><b><span lang=EN-GB style='font-size:12.0pt;font-family:Arial'>Diacritics</span></b></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:203.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><b><span lang=EN-GB style='font-size:12.0pt;font-family:Arial'>Suprasegmentals</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>k&#688;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>h^</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Aspirated</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>e&#720;</span></p>
  </td>
  <td width=70 style='width:52.85pt;border:none;border-top:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>:</span></p>
  </td>
  <td width=151 style='width:4.0cm;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Long</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#695;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>w^</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Labialised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>e&#721;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>::</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Half
  long</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#690;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>j^</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Palatalised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>e&#720;&#720;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>:::</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Extra
  long</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>l&#736;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>g=^</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Velarised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>e&#774;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>&quot;
  &quot; &quot;</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Extra
  short</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#740;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>?&lt;^</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Pharyngealised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#712;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>}</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Primary
  stress</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#8319;k</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>n^
  </span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Pre/post
  nasalised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#716;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>}}</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Secondary
  stress</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#737;</span></p>
  </td>
  <td width=53 style='width:39.75pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>l^</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Lateral
  release</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>.</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>.</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Syllable
  break</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#771#771;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>~</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Nasalised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>|</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>.&lt;</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Minor
  group: foot</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "MS Mincho"'>&#619;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>~~</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Velar/Pharyngealised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#8214;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>.=</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Major
  group</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#734;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>[[</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Rhoticity</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#8255;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>#==</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Linking
  - no break</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#700;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>]]</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Ejective</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#8599;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>#&gt;&gt;
  </span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Rising
  intonation</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#794;</span></p>
  </td>
  <td width=53 style='width:39.75pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>]]]</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Unreleased</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#8600;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>#&lt;&lt;
  </span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Falling
  intonation</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>l&#809;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>$</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Syllabic</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal style='page-break-after:avoid'><span lang=EN-US
  style='font-size:16.0pt;font-family:"Doulos SIL"'>&#61853;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>#&lt;</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Downstep</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>a&#815;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>$$</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Non-syllabic</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#61852;</span></p>
  </td>
  <td width=70 style='width:52.85pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'>#&gt;</span></p>
  </td>
  <td width=151 style='width:4.0cm;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Upstep</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>a&#816;</span></p>
  </td>
  <td width=53 style='width:39.75pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-US style='font-size:12.0pt;font-family:Courier'>$$$</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Creaky</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:203.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><b><span lang=EN-GB style='font-size:12.0pt;font-family:Arial'>Diacritic
  tone marks</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>n&#805;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>%</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Voiceless</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#779;</span></p>
  </td>
  <td width=70 style='width:52.85pt;border:none;border-top:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@4</span></p>
  </td>
  <td width=151 style='width:4.0cm;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Extra
  high tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>s&#812;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>%%</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Voiced</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#769;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@3</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>High
  tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>s&#804;</span></p>
  </td>
  <td width=53 style='width:39.75pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>%%%</span></p>
  </td>
  <td width=139 colspan=2 style='width:104.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Breathy</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#772;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@2</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Mid
  tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=240 colspan=4 style='width:180.0pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=marginnote style='margin-top:6.0pt'><span lang=EN-US>Diacritics</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#768;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@1</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Low
  tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#810;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>{</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Dental</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#783;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@0</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Extra
  low tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#826;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>{{</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Apical</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#770;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@31</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Falling
  tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#827;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>{{{</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Laminal</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#780;</span></p>
  </td>
  <td width=70 style='width:52.85pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>@13</span></p>
  </td>
  <td width=151 style='width:4.0cm;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Rising
  tone</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#828;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>{{{{</span></p>
  </td>
  <td width=120 style='width:90.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Linguo-labial</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:203.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=marginnote style='margin-top:6.0pt'><span lang=EN-US>Tone Letters
  and Numbers</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#776;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&quot;</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Centralised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#742;</span></p>
  </td>
  <td width=70 style='width:52.85pt;border:none;border-top:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>#3</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'> (0-4)</span></p>
  </td>
  <td width=151 style='width:4.0cm;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Tone
  letter</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#829;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&quot;
  &quot;</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Mid
  centralised</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#741;&#745;</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-US style='font-size:12.0pt;font-family:Courier'>#40</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Tone
  glide</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>k&#865;p</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>#&amp;
  </span><span lang=EN-GB style='font-size:12.0pt'>or</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:Courier'> @&amp;</span></p>
  </td>
  <td width=120 style='width:90.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table style='line-height:12.0pt'><span lang=EN-GB style='font-size:
  9.0pt;font-family:Arial'>Double articulation / affricate<sup>1</sup></span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table style='line-height:12.0pt'><span lang=EN-GB style='font-size:
  9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>³</span></p>
  </td>
  <td width=70 style='width:52.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>3^</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL"'> (0-9)</span></p>
  </td>
  <td width=151 style='width:4.0cm;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>superscript
  number</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>u&#799;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>+</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Advanced</span></p>
  </td>
  <td width=52 style='width:39.2pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.55pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#8315;</span></p>
  </td>
  <td width=70 style='width:52.85pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>-^</span></p>
  </td>
  <td width=151 style='width:4.0cm;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>superscript
  hyphen</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>i&#800;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>_</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Retracted</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#797;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>++</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Raised</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#798;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>__</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Lowered</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#792;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>+++</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>+ATR</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#793;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>___</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>-ATR</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border:none;border-left:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#825;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>++++</span></p>
  </td>
  <td width=120 style='width:90.0pt;border:none;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>More
  rounded</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=48 style='width:36.0pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 0cm 0cm 0cm'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e&#796;</span></p>
  </td>
  <td width=72 colspan=2 style='width:54.0pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>____</span></p>
  </td>
  <td width=120 style='width:90.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Less
  rounded</span></p>
  </td>
  <td width=52 style='width:39.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=272 colspan=3 style='width:204.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=48 style='width:36.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=19 style='width:14.25pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=120 style='width:90.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 style='width:39.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=50 style='width:37.5pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=70 style='width:52.5pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td width=151 style='width:113.25pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=marginnote><span lang=EN-US>&nbsp;</span></p>

<p class=MsoFootnoteText><span class=MsoFootnoteReference><span lang=EN-US>[1]</span></span><span
lang=EN-US> Typed between the characters. Thus </span><span lang=EN-US
style='font-size:12.0pt;font-family:Courier'>k#&amp;p</span><span lang=EN-US>.</span></p>

