<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:15.5pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#653;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>w=</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vl.
  Labial-Velar Approximant</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#664;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>p=</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Bilabial
  click</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:16.25pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>w</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>w</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vd.
  Labial-Velar Approximant</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#448;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>!&lt;</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Dental
  click</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:15.5pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#613;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>h=</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vl.
  Labial-Palatal Approximant</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#451;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>!</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>(Post-)alveolar
  click</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:16.25pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#597;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>c&lt;</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vl.
  alveolopalatal fricative</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#450;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>!=</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Palatoalveolar
  click</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:15.5pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#657;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>z&gt;</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vd.
  alveolopalatal fricative</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#449;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>!&gt;</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Alveolar
  lateral click</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:16.25pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#615;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>H&gt;</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Simultaneous
  S and x</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#673;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>Q=</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vd.
  epiglottal Plosive</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:15.5pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#634;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>L&gt;</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vd.
  alveolar lateral flap</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#668;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>H=</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.5pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vl.
  epiglottal fricative</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:16.25pt'>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-family:"Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=48 style='width:36.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB>&nbsp;</span></p>
  </td>
  <td width=193 style='width:144.95pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#674;</span></p>
  </td>
  <td width=51 style='width:38.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:Courier'>Q&lt;</span></p>
  </td>
  <td width=162 style='width:121.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.25pt'>
  <p class=table><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Vd.
  epiglottal fricative</span></p>
  </td>
 </tr>
</table>
