<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=564
 style='width:423.0pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table align=center style='text-align:center'><b><span lang=EN-GB
  style='font-size:9.0pt;font-family:Arial'>Vowels</span></b></p>
  </td>
  <td width=154 colspan=4 valign=top style='width:115.2pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:none;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table align=center style='text-align:center'><b><span lang=EN-GB
  style='font-size:9.0pt;font-family:Arial'>Front</span></b></p>
  </td>
  <td width=154 colspan=4 valign=top style='width:115.2pt;border:solid windowtext 1.5pt;
  border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table align=center style='text-align:center'><b><span lang=EN-GB
  style='font-size:9.0pt;font-family:Arial'>Central</span></b></p>
  </td>
  <td width=158 colspan=4 valign=top style='width:118.4pt;border:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table align=center style='text-align:center'><b><span lang=EN-GB
  style='font-size:9.0pt;font-family:Arial'>Back</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Close</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>i</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>i</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>y</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>y</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#616;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>I=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#649;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>U=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#623;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>u=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>u</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>u</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Near-close</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#618;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>i=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#655;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>y=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#650;</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>u&lt;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Close-mid</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>e</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>e</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>ø</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>o&gt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#600;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>E=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#629;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>O=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#612;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>O&gt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>o</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>o</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Mid</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:16.0pt;font-family:"Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#601;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>e=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Open-mid</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#603;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>e&lt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>œ</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>E&lt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#604;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:Courier'>e&gt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "MS Mincho"'>&#606;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:Courier'>O&lt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#652;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>u&gt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#596;</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>o&lt;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Near-open</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>æ</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>a&lt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#592;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>a&gt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=99 valign=top style='width:74.2pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><b><span lang=EN-GB style='font-size:9.0pt;font-family:Arial'>Open</span></b></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>a</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>a</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#630;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>E&gt;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:"Doulos SIL Test"'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.5pt;border-right:none;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#593;</span></p>
  </td>
  <td width=38 style='width:28.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>a=</span></p>
  </td>
  <td width=38 valign=top style='width:28.8pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#594;</span></p>
  </td>
  <td width=43 style='width:32.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;padding:0cm 3.6pt 0cm 3.6pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>o=</span></p>
  </td>
 </tr>
</table>
