<p class=MsoNormal><span lang=EN-US>The keyboard layout is described in terms
of an IPA chart rather than a keyboard. This is because many base characters
are typed as a sequence of a letter followed by one of &lt;, &gt; or = which
are characters used to change a base character to another base character.
Diacritics are typed as sequences of an appropriate key. </span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=714
 style='width:535.45pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=69 style='width:51.45pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.5pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>&nbsp;</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border:none;border-top:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Bilabial</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Labio-dental</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Dental</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Alveolar</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Post-alveolar</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Retro-flex</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Palatal</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Velar</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Uvular</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Pharyngeal</span></p>
  </td>
  <td width=59 colspan=2 style='width:44.0pt;border-top:solid windowtext 2.25pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table align=center style='text-align:center'><span lang=EN-GB
  style='font-size:8.0pt;font-family:"Arial Narrow"'>Glottal</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.5pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Plosive</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>p</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>p</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t&#810;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>t{</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>t</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>t</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#648;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>t&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>c</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>c</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>k</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>k</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>q</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>q</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-top:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#660;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>?=</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>b</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>b</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>d&#810;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>d{</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>d</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>d</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#598;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>d&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#607;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>j=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#609;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>g&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#610;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>G=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Nasal</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>m</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>m</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#625;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier;
  letter-spacing:-1.0pt'>m&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>n&#810;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>n{</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>n</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>n</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#627;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>n&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#626;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>n=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#331;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>n&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#628;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>N=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Trill</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#665;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>B=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>r</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>r</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#640;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>R=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Flap</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#638;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>r&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#637;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>r&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Fricative</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#632;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>f=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>f</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>f</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#952;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>t=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>s</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>s</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#643;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>s=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#642;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>s&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>รง</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>c=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>x</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>x</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#967;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>x=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#295;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>h&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>h</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>h</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#946;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>b=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>v</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>v</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>รฐ</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>d=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>z</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>z</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#658;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>z=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#656;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>z&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#669;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>j&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#611;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>g=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#641;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>R&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#661;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>?&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#614;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>h&lt;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Lateral Fricative</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#620;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>l=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border:none;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#622;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>l&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Approx.</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#651;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>v=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#633;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>r=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#635;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>R&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>j</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>j</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#624;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>w&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Lateral Approx.</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>l&#810;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>l{</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>l</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>l</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#621;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>l&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#654;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>L&lt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#671;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>L=</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=69 valign=top style='width:51.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table style='margin-top:3.0pt'><span lang=EN-GB style='font-size:
  8.0pt;font-family:"Arial Narrow"'>Implosive</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#595;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>b&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#599;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>d&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Times New Roman"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#644;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>j&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#608;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>g&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&#667;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>G&gt;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
  <td width=28 nowrap style='width:20.9pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=tableipanormal><span lang=EN-US style='font-size:16.0pt;font-family:
  "Doulos SIL"'>&nbsp;</span></p>
  </td>
  <td width=31 nowrap style='width:23.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 2.25pt;
  padding:0cm 1.8pt 0cm 1.8pt'>
  <p class=table><span lang=EN-GB style='font-size:12.0pt;font-family:Courier'>&nbsp;</span></p>
  </td>
 </tr>
</table>
