
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".lesson-modal-lg">About Lessons</button>

  <div class="modal fade lesson-modal-lg" tabindex="-2" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container">
          <p class="lead"><strong>What is a lesson?</strong></p>
          <p>Think of a <strong>lesson</strong> like a paper worksheet. It is a series of (interactive) tasks the student can complete to show knowledge on a subject.</p>
          <p>These tasks are called <strong>exercises</strong>.</p>
          <p> Create a lesson and then assign it each student to do individually, or as a class activity.</p>
          <p>After the student <strong>submits</strong> the exercise, you can provide them feedback on each exercise in the lesson.</p>
        </div>
      </div>
  </div>
</div>
