<tr><td> </td></tr>
<tr>
  <td class='stem'><%= @ex.stem_text_hash_lookup %></td>
</tr>
<tr>
</tr>
  <tr><td>[<%= @ex.content %>]</td></tr>
<tr>
</tr>
<tr><td>FIX THIS RENDER AUDIO RECORDER</td></tr>
<tr><td><hr class="hr-primary"/></td></tr>