<div class="navigation">
  <% #TODO Course Path %>
  <ul class="h-nav">
    <li><%= link_to "View Current Courses ", teacher_index_course_path %></li>
    <li><%= link_to "Manage Lessons ", lessons_path %>
    <ul>
      <li>Give Feedback</li>
      <li>Assign a Lesson</li>
    </ul></li>
    <li> <%= link_to "Manage Exercises", exercises_path %></li>
    <li>Manage Preferences</li>
  </ul>
</div>
