<div class="container">
  <div class="jumbotron">
    <h1>[lIŋlɛrn]</h1>
    <br>
    <h1>Welcome to LingLearn</h1>
    <p>LingLearn is a platform for teachers in the linguistics field to simply and easily take their paper-pencil exercises into the interactive, online space.</p>
    <p>Currently only introductory phonetics classes are supported, but more coming soon!</p>
    <p><a href="<%= new_user_session_path %>" class="btn btn-primary btn-lg">Sign in to get started!</a></p>
  </div>
</div>


