<h1>Create a New Exercise Here</h1>

<div id="type-explanations">
</div>
<br>
<h3>Step 1</h3>
<div id="exercise-code">
  <!-- drop down here -->
</div>

<% #TODO ajax %>
<!-- if ajax enabled, show stem when selected above -->
<div id="stem">
  <!-- #Load stem text based on type and preview? -->
</div>


<br>
<h3>Step 2</h3>
<p class="lead">If you chose to add an "L-" exercise type, please select audio below:</p>
<div id="audio-picker">
  <p>Get audio from Forvo</p>
  <p>Record your own Audio</p>
</div>
<br>
<h3>Step 3</h3>
<p class="lead">If you chose to add an "RI-" exercise type, please enter your IPA below:</p>
<div id="reading-stim">
  <p>Enter IPA text for student to read</p>
</div>
<br>
<h3>Step 4</h3>
<p class="lead">If you chose to add an "R-" exercise type, please add it here</p>
<div id="lang-orthog-stim">
  <p>Enter default language text for student to read</p>
</div>
<!-- save content at each stage? -->