<div class="container">
  <ul class="breadcrumb">
    <li class="active">Select Task</li>
  </ul>
<div id="type-explanations">
</div>
<br>
<h3>Step 1</h3>
<p class="lead">Select task you would like the student to do:</p>


  <div id="exercise-code">
    <%= form_for @exercise, url: exercises_path do |f| %>
    <% #TODO static field showing course? %>
    <%=f.label :exercise_code, "Exercise type: " %>
    <%=f.select :exercise_code, options_for_select(@options)  %>
    <br>
  <button>Make New Exercise</button>
  <% end %>
  </div>

<br>
</div>
<!-- save content at each stage? -->

